.review {
    padding:2px 2px;
    background-color: antiquewhite;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-bottom: 7px;
    justify-content: center;
}